
.boton{
color: green;
background: rgba(6, 238, 238, 0.33);

border-radius: 10px;
}
.boton:hover{
    background: rgba(249, 253, 0, 0.84)
    }

.btn-sexi{
	padding: 1em 2em;
	background: #2c3e50;
	border: none;
	color: white;
	border-radius: 10px;
}
.btn-sexi:hover{
	background: #34495e;
}

